<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120360845842-6lvrk27qtmbja53c4rirge9d93kog400.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120360845842-6lvrk27qtmbja53c4rirge9d93kog400</string>
	<key>API_KEY</key>
	<string>AIzaSyCl6PuSFhifY1GQNO8hpTMG9cHnHSRYYnY</string>
	<key>GCM_SENDER_ID</key>
	<string>120360845842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>buildFlash.FS-Mark0</string>
	<key>PROJECT_ID</key>
	<string>free-stand-1c22f</string>
	<key>STORAGE_BUCKET</key>
	<string>free-stand-1c22f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:120360845842:ios:e28bf9a856a25110</string>
	<key>DATABASE_URL</key>
	<string>https://free-stand-1c22f.firebaseio.com</string>
</dict>
</plist>